* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

body{
    display: flex;
    background-color: #0C0C0C;
}

.left-section{
    width: 59%;
    height: 100dvh;
    background-color: #0C0C0C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container{
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
    display: flex;
    align-items: center;
}

.logo-container span{
    color: #DCDCDC;
    margin: 20px 0 0 10px;
    font-size: 35px;
    font-weight: bold;
}

#green-text{
    margin-left: 0;
    color: #1ACD52;
}

.login-container{
    width: 62%;
    height: 72dvh;
    background-color: #fff;
    border-radius: 39px;
    margin-top: 40px;
    text-align: center;
    padding: 40px 38px;
    box-sizing: border-box;
}

.login-container h2{
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 10px 0 30px 0;
}

.form-container{
    display: inline;
}

.form-field{
    text-align: start;
    font-size: 20px;
    margin: 20px 0 0 0;
}

.form-field label{
    display: block;
    margin: 0 0 5px 0;
}

.form-field input{
    width: 100%;
    height: 7dvh;
    border-radius: 9px;
    border: 3px solid black;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 20px;
}

#submit-button{
    height: 9.3dvh;
    width: 55%;
    padding: 10px;
    box-sizing: border-box;
    margin: 40px 0 0 0px;
    background-color: black;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 15px;
    border-style:none;
    box-sizing: border-box;
    transition: 0.2s ;
    border: 3px solid transparent;
    transition: 0.2s ease-in-out;
}

#submit-button:hover{
    background-color: transparent;
    color: #000;
    border: 3px solid #000;
    transform: translatey(-3px);
    cursor: pointer;
}

.bottom-info-container{
    text-align: left;
    margin: 40px 0 0 0;
    font-size: 20px;
}

.bottom-info-container span{
    display: block;
}

.bottom-info-container a{
    text-decoration: none;
    color: #051B96;
}

#forgot-password{
    margin: 0 0 0 100px;
}

.right-section{
    width: 41%;
    height: 100dvh;
    background-image: url(../images/image1.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 0.57;
}

@media(max-width:520px){
    .right-section{
        display: none;
    }

    .left-section{
        width: 100%;
    }

    .login-container{
        width: 90%;
        padding: 20px;
    }

    .bottom-info-container{
        margin: 30px 0 0 0;
    }

    .bottom-info-container span,
    .bottom-info-container a{
        font-size: 15px;
        display: block;
    
    }

    #forgot-password{
        margin: 15px 0 0 0;
    }
    
    body{
        padding: 0;
    }
}